<% include ../partials/header.ejs %>

<main class="panel panel-body" style="width: 98%;position: relative; left: 1%;top:2%">
    <h1>Business Contacts</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/users/add" title="Add User"><i class="fa fa-plus-circle"></i> Add a new Business Contact</a>
        </div> <!-- panel-heading -->
        <% if (contacts.length > 0) { %>
        <div class="panel-body table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No.</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                        <th></th>
                    </tr>
                </thead>
                </tbody>
                <% for (var i = 0; i < users.length; i++) { %>
                <tr>
                    <td>
                        <%= contacts[i].contactName %>
                    </td>
                    <td>
                        <%= contacts[i].email %>
                    </td>
                    <td>
                    	<%= contacts[i].phone %>
                    </td>
                    <td>
                        <% var date = new Date(contacts[i].created);
                         var dateString = date.toDateString() + " " + date.toLocaleTimeString(); %>
                        <%= dateString %>
                    </td>
                    <td>
                        <% date = new Date(contacts[i].updated);
                         var dateString = date.toDateString() + " " + date.toLocaleTimeString(); %>
                        <%= dateString %>
                    </td>
                    <td>
                        <a href="/users/<%= contacts[i]._id %>" title="Edit" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a href="/users/delete/<%= contacts[i]._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>   
                </tr>
                <% } %>
                </tbody>
            </table>
        </div> <!-- panel-body -->
        <% } %>
    </div><!-- panel panel-default -->

</main>
<% include ../partials/footer.ejs %>
